@inherits LayoutComponentBase

<!--<div class="sidebar">
    <NavMenu />
    
</div>-->


<div class="main">
    <FullHeader />
    <div class="content px-4">
        @Body
    </div>
</div>
